/* the home page */

a img{
    margin: 12px;
    width: 70px;
}

.container-fluid{
    background-color: rgb(13, 43, 77);
}

.container-fluid .nav{
    border: 2px solid rgb(247, 233, 170);
    border-radius: 4px;
}

.container-fluid .hr{
    margin-bottom: 24px;
    border: 2px solid rgb(157, 247, 212);
    border-radius: 4px;
}

div nav{
    margin-top: 20px;
    color: rgb(70, 70, 65);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav #auth {
    padding: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
}


.parent{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(157, 247, 212);
    border-radius: 4px;
    background-color: rgb(44, 37, 44); 
}


.parent #course{
    border-radius: 7px;
    padding: 7px;
    min-width: 250px;
    background-color: rgb(245, 244, 195);
    width: 100%;
    max-width: 480px;
    margin: 24px;
    flex-grow: 1;
}



#editor {
    height: 400px; 
}



body{
    background-color: rgb(23, 24, 23);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* the personal profile page */

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile .child{
    margin: 12px;
    font-size: 24px;
    background-color: rgb(175, 245, 233);
    border: 0px solid rgb(157, 247, 212);
    border-radius: 5px;
}
#profile .child:hover{
    background-color: rgb(18, 248, 237);
}

#profile .child a:hover{
    font-size: 27px;
}

#profile .child a{
    color: rgb(32, 52, 82);
    font-size: 18px;
    text-decoration: none;
    margin: 5px;
}


.profile-info{
    background-color: black;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-info div{
    margin-right: 36px;
    margin-left: 36px;
    border-radius: 5px;
    
}


.profile-info div a{
    text-decoration: none;
}


/* learn page */
#ai-yt{
    background-color: rgb(71, 41, 41);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid burlywood;
    border-radius: 5px;
}


#ai-yt div{
    margin: 12px;
}




footer{
    background-color: rgb(39, 32, 32);
}
