/* the home page */

a img{
    /* margin: 12px; */
    width: 70px;
}

.container-fluid{
    background-color: rgb(13, 43, 77);
}

.container-fluid .nav{
    border: 2px solid rgb(247, 233, 170);
    border-radius: 4px;
}

.container-fluid .hr{
    margin-bottom: 24px;
    border: 2px solid rgb(157, 247, 212);
    border-radius: 4px;
}

div nav{
    margin-top: 20px;
    color: rgb(70, 70, 65);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav #auth {
    padding: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
}


.parent{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(157, 247, 212);
    border-radius: 4px;
    background-color: rgb(44, 37, 44);
    justify-content: center; 
}


.parent #course{
    border-radius: 7px;
    padding: 5px;
    min-width: auto;
    background-color: rgb(245, 244, 195);
    max-width: fit-content;
    margin: 12px;
    text-wrap: wrap;
    align-self: center;
}



/* #editor {
    height: 400px; 
} */



body{
    background-color: rgb(23, 24, 23);
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* the personal profile page */

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#profile .child{
    margin: 12px;
    font-size: 24px;
    background-color: rgb(175, 245, 233);
    border: 0px solid rgb(157, 247, 212);
    border-radius: 5px;
}
#profile .child:hover{
    background-color: rgb(18, 248, 237);
}

#profile .child a:hover{
    font-size: 27px;
}

#profile .child a{
    color: rgb(32, 52, 82);
    font-size: 18px;
    text-decoration: none;
    margin: 5px;
}


.profile-info{
    background-color: black;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-info div{
    margin-right: 36px;
    margin-left: 36px;
    border-radius: 5px;
    
}


.profile-info div a{
    text-decoration: none;
}


/* learn page */
/* #ai-yt{
    background-color: rgb(71, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#sk{
    display: flex;
    flex-direction: column;
}
.sk {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sk a {
    /* display: block; */
    width: 100%;
    text-decoration: none;
}

.sk img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.sk #p{
    font-size: 2rem;
    font-style: normal;
    color: coral;
}

@media (max-width: 1728px) {
    #sk div{
    width: 100%;
    height: auto;
    }

    .vidp video{
      
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1280px) {
    #sk div{
    width: 100%;
    height: auto;
    }

    .vidp video{
        
        width: 100%;
        height: auto;
    }

    .txtdsp{
        font-size: 2rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@media (max-width: 820px) {
    #sk div{
    width: 100%;
    height: auto;
    }

    .vidp video{
        
        width: 100%;
        height: auto;
    }

    .txtdsp{
        font-size: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}


@media (max-width: 540px) {
    #sk div{
    width: 100%;
    height: auto;
    }

    .vidp video{
        
        width: 100%;
        height: auto;
    }

    .txtdsp{
        font-size: 28px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}


@media (max-width: 430px) {
    #sk div{
    width: 100%;
    height: auto;
    }

    .vidp video{
        
        width: 100%;
        height: auto;
    }

    .txtdsp{
        font-size: 24px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}


@media (max-width: 375px) {
    #sk div{
        width: 375px;
        height: auto;
        box-sizing: border-box;
        }
    .vidp video{
       
        width: 100%;
        height: auto;

    }

    .txtdsp{
        font-size: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}



footer{
    background-color: rgb(39, 32, 32);
}

/* the certificate design */

@media (max-width: 768px) {
    .size img{
    width: 768px;
    height: auto;
    }
}

@media (max-width: 430px) {
    .size img{
    width: 430px;
    height: auto;
    }
}

@media (max-width: 414px) {
    .size img{
    width: 414px;
    height: auto;
    }
}


@media (max-width: 390px) {
    .size img{
    width: 390px;
    height: auto;
    }
}

@media (max-width: 375px) {
    .size img{
    width: 375px;
    height: auto;
    }
}

@media (max-width: 334px) {
    .size img{
    width: 334px;
    height: auto;
    }
}