<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    
    <title>
        {% block title %}
        Mass@chusettes Tech Camp
        {% endblock %}
    </title>
</head>
<body>
    {% block main %}

    <div class="container-fluid bg-dark">
       <div class="row">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-2">
                <div class="" id="register"><a class="btn btn-info" href="{{ url_for('users.register') }}">Register</a></div>
            </div>
            <div class="bg-dark p-2">
                <div class="" id="sign-in"><a class="btn btn-info" href="{{ url_for('users.login') }}">Login</a></div>
              </div>

          </div>
          <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </nav>
       </div>
       <div class="row">
        {% if topics %} 
        
        <div class="col" style="background-color: rgb(240, 240, 241);">
            
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item active">
                    <a class="page-link" href="{{ url_for('home.home') }}">Back</a>
                  </li>
                </ul>
              </nav>

              <div class="fs-2 text-center text-info p-2"> {{course.name}}</div>
            <p>
                <ul>
                        <h3 class="text-info">course content</h3>
                        {% for topic in topics %}
                         <li class="text-primary">{{ topic.name  }}</li>
                        {% endfor %}
                </ul>
    
            </p>
        </div>
        
        {% else %}
        
        {% for course in courses %}  
        <div class="col-3" style="background-color: rgb(192, 190, 188);"></div>
        <div class="col-5 pb-5">  
    <div class="text-light p-2" style="
                                    height: auto; background-color: rgb(240, 240, 241);
                                    border: 2px solid green;">
        <div class="d-flex justify-content-end">
            <a class="btn btn-info" id="enrol" href="" >
                Enroll now
            </a>
        </div>
        <div class="col">
            <div class="pb-4 btn btn-outline-success fs-2">{{ course.name }}</div>
            <div class="pt-5 pb-5 text-wrap fs-5 text-secondary">
                <p class="text-dark">
                    {{ course.description}}...
                    <span>
                            <a class="text-dark"  style="text-decoration: none;" href="">
                             see more
                        </a>
                    </span>
                    
                </p>
            </div>
            <div class="fs-3 text-center text-dark"> $ <span class="fs-3 text-success">{{ course.price }}

            </span></div>
        </div>
        
    </div>
</div>
<div class="col-4 " style="background-color: rgb(192, 190, 188);">
   
</div>
    {% endfor %}
    {% endif %}
       </div>
      </div>

     

    {% endblock %}
    
</body>
</html>