<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    
    <title>
        {% block title %}
        Mass@chusettes Tech Camp
        {% endblock %}
    </title>
</head>
<body>
    {% block main %}
    

    <div class="container-fluid">
       <div class="row nav">
        <nav>
            <div >
                <div class="" id="register">
                    <a class="btn btn-info fs-3" href="{{ url_for('users.register') }} " id="auth">
                        Register
                    </a>
                </div>
            </div>
            <div >
                <div class="" id="sign-in">
                    <a class="btn btn-info fs-3" href="{{ url_for('users.login') }}" id="auth">
                        Login
                    </a>
                </div>
              </div>

            </nav>
    
       </div>
       <p class="text-light">{{ welcome }}</p>
       <div class="row ">
        {% if topics %} 
        
        <div class="col" style="background-color: rgb(240, 240, 241);">
            
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item active">
                    <a class="page-link" href="{{ url_for('home.home') }}">Back</a>
                  </li>
                </ul>
              </nav>

              <div class="fs-2 text-center text-info p-2"> {{course.name}}</div>
            <p>
                <ul>
                        <h3 class="text-info">course content</h3>
                        {% for topic in topics %}
                         <li class="text-primary">{{ topic.name  }}</li>
                        {% endfor %}
                </ul>
    
            </p>
        </div>
        
        {% else %}
      <div class="parent"> 
    {% for course in courses %}  
        
      
    <div class="text-light" id="course">
        <div class="d-flex justify-content-end">
            <a class="btn btn-info" id="enrol" href="{{ url_for('users.make_payment', course_id=course.id) }}" >
                Enroll now
            </a>
        </div>
        <div class="col">
            <div class="pb-4 btn btn-outline-success fs-2">{{ course.name }}</div>
            <div class="pt-5 pb-5 text-wrap fs-5 text-secondary">
                <p class="text-dark">
                    {{ course.description}}...
                    <span>
                            <a class="text-dark"  style="text-decoration: none;" href="">
                             see more
                        </a>
                    </span>
                    
                </p>
            </div>
            <div class="fs-3 text-center text-dark"> $ <span class="fs-3 text-success">{{ course.price }}

            </span></div>
        </div>
        
    </div>

    {% endfor %}
</div>
    {% endif %}
       </div>
      </div>

    {% endblock %}
    
</body>
</html>