<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    
    <title>
        {% block title %}
        SKILdemy
        {% endblock %}
    </title>
</head>
<body>
    {% block main %}
    

    <div class="container-fluid">
       <div class="row nav">
        <nav>
            {% if auth %}
            <div>
                <a class="btn btn-info fs-4 m-2" href="{{ url_for('users.userprofile')}}">
                    {{ _('Dashboard') }}
                </a>
            </div>

            <div>
                <a class="" href="{{ url_for('users.user_locale')}}"> 
                    <img src="{{ url_for('static', filename='flags/' + lang)}}" alt="">    
                </a>
            </div>

            
            {% else %}
            <div >
                <div class="" id="register">
                    <a class="btn btn-info fs-3" href="{{ url_for('users.register') }} " id="auth">
                        {{ _('Register') }}
                    </a>
                </div>
            </div>
            <div >
                <div class="" id="sign-in">
                    <a class="btn btn-info fs-3" href="{{ url_for('users.login') }}" id="auth">
                        {{ _('login') }}
                    </a>
                </div>
              </div>
            {% endif %}
            </nav>
    
       </div>
       <p class="text-light">{{ welc }}</p>
       <div class="row ">
        {% if topics %} 
        
        <div class="col" style="background-color: rgb(240, 240, 241);">
            
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item active">
                    <a class="page-link" href="{{ url_for('home.home') }}">Back</a>
                  </li>
                </ul>
              </nav>

              <div class="fs-2 text-center text-info p-2"> {{ course.name }}</div>
            <p>
                <ul>   
                        <h3 class="text-info">{{_('course content')}}</h3>
                        {% for topic in topics %}
                         <li class="fs-3 text-success">{{ topic.name  }}</li>
                        {% endfor %}
                </ul>
    
            </p>
        </div>
        
        {% else %}
        <h2 style="text-align: center; color: #83e4cf;">
            {{_('click on course for more information')}}
        </h2>
      <div class="parent"> 
        
    {% for course in courses %}  
        
      
    <div class="text-light" id="course">
        <div class="d-flex justify-content-end bg-dark">
            <a class="btn btn-info m-2" id="enrol" 
            href="{{ url_for('users.make_payment', course_id=course.id) }}" >
                {{ _('Enrol now') }}
            </a>
        </div>
        <a class="text-dark"  style="text-decoration: none;" 
        href="{{ url_for('home.home_', course_id=course.id) }}">
        <div class="col">
            <div class="pb-4 btn btn-outline-success fs-2">{{ course.name }}</div>
            <div class="pt-5 pb-5 text-wrap fs-5 text-secondary">
                
            </div>
            <div class="fs-3 text-center text-dark"> $ <span class="fs-3 text-success">{{ course.price }}

            </span></div>
        </div>
    </a>
    </div>

    {% endfor %}
</div>
    {% endif %}
       </div>
      </div>

    {% endblock %}
    
</body>
</html>