<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% extends "base.html" %}
    <title>{% block title %} learn {% endblock %}</title>
</head>
<body>
  {% block main %}
  <nav><a class="btn btn-primary" href="{{url_for('home.home')}}">{{_('Home')}}</a></nav>
        <div class="container-fluid">
            <div class="row">
                {% if fk %}                   
                <div class="col" style="display: flex; flex-direction: column;">
                  <div>
                    <p class=""><h1 class="btn btn-secondary fs-2 ">{{fk}}</h1></p>
                    <p class="m-3">
                      <a style="text-decoration: none; font-size: xx-large;" class="fs-2 btn btn-info"
                      href="{{ url_for('users.topic_by_course', course_id=fv[page][1], topic_id=fv[page][2]) }}">
                        {{ fv[page][0] }}
                      </a>
                    </p>               
                  </div>                              
                </div>
                {% elif mat %}
                <div class="col fs-3" style="background-color: rgb(214, 255, 159);">
                    <a class="btn btn-primary m-3" href="{{ url_for('home.home', course_id=course_id) }}">{{_('Back')}}</a>
                    <div class="row">
                       <nav id="ai-yt">
                        <div class="col text-success">
                          <a class="btn btn-primary" 
                          href="{{ url_for('users.gptplus_vid', course_id=course_id, topic_id=topic_id) }}">
                          {{_('SKILdemy guide')}}
                          <img src="{{ url_for('static', filename='thumbnail/thumbnail.png') }}" alt="thumbnail">
                        </a>
                        </div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{_('Suggested Videos')}}
                            <img src="{{ url_for('static', filename='thumbnail/youtube.png') }}" alt="thumbnail">
                          </button>
                          <ul class="dropdown-menu" style="background-color: rgb(58, 37, 37);">
                          
                            {% for idx in path %}
			                      <p class="fs-3 text-info text-center"
                             style="background-color: rgb(43, 43, 61);">SKILdemy</p>
                            <li>                             
                                <iframe width="560" height="315" 
                                src="https://www.youtube.com/embed/{{ idx }}"
                                title="YouTube video player" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                </iframe>                             
                            </li>
                            {% endfor %}
                          </ul>
                        </div>                       
                       </nav>  
                    <div>
                {% for line in mat.split('\n') %}

                {% if line.startswith('http') %}
                  <a href="{{line}}">
                    {{line}}
                  </a>
                {% else %}
                  {{ line }}

                {% endif %}
               <br>
               {% endfor %}
                </div>
                    </div>
                </div>
                {% elif path and not_time %}
                <div class="col-md-4">
                  <video width="640" controls>
                    <source src="{{ path }}" type="video/mp4">
                  </video>
                </div>

                {% elif path and pending %}
                <div class="col-md-4">
                  <video controls class="col-md-12">
                    <source src="" type="video/mp4">
                  </video>
                  <div class="text-end ">
                    <a class="btn btn-danger text-info fs-3" href="">
                      {{_('Cancel Request')}}
                    </a>
                  </div>
                </div>

                {% elif path and ask %}
                <p class="fs-3 text-light">
                  {{_('keep learning while we prepare the answers for you')}}
                </p>
                <div class="col-md-4">
                  
                  <video controls  class="col-md-12">
                    <source src="" type="video/mp4">
                  </video>
                  <div class="text-end ">
                    <a class="btn btn-success text-info fs-3" href="{{ url_for('users.request_task_solution', topic_id=topic_id) }}">
                      
                      {{_('Request Solution')}}
                    </a>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
  
{% endblock %}
</body>
</html>
