<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% extends "base.html" %}
    <title>{% block title %} learn {% endblock %}</title>
</head>
<body>
  {% block main %}
  <nav><a class="btn btn-primary" href="{{url_for('users.userprofile')}}">Home</a></nav>
        <div class="container-fluid">
            <div class="row">
                {% if fk %}
                        
                <div class="col">
                    <p class=""><h1 class="btn btn-secondary fs-2 ">{{fk}}</h1></p>
                    
                    <ul>
 
                        {% for t in fv %}
                        <li>
                            <a href="{{ url_for('users.topic_by_course', course_id=t[1], topic_id=t[2]) }}">{{ t[0] }}</a>
                        </li>
                        {% endfor %}
                        
                    </ul>
                    
                </div>


                {% elif mat %}
                <div class="col-9 fs-3" style="background-color: rgb(226, 233, 235);">
                    <a class="btn btn-primary" href="{{ url_for('users.learn_skills', course_id=course_id) }}">Back</a>
                    <div class="row">
                       <div class="bg-dark">
                        <div class="col text-success">
                          <p>AI Tutorial</p>
                          <a class="btn btn-primary" href="{{ url_for('users.gptplus_vid', course_id=course_id, topic_id=topic_id) }}">ai Tutorial</a>
                        </div>
                        <div class="col text-success">
                          <p>Related YouTube videos</p>
                          <a class="btn btn-primary" href="{{ url_for('users.youtube_vids', topic_id=topic_id) }}">topic specific video</a>
                        
                        </div>
                       </div>  
                    <div>
                {% for line in mat.split('\n') %}

                {% if line.startswith('http') %}
                  <a href="{{line}}">
                    {{line}}
                  </a>
                {% else %}
                  {{ line }}

                {% endif %}
               <br>
               {% endfor %}
                </div>
                    </div>
                </div>
                {% elif path and not_time %}
                <div class="col-md-4">
                  <video controls class="col-md-12">
                    <source src="{{ url_for('static', filename='user_output/' + path ) }}" type="video/mp4">
                  </video>
                </div>

                {% elif path and pending %}
                <div class="col-md-4">
                  <video controls class="col-md-12">
                    <source src="" type="video/mp4">
                  </video>
                  <div class="text-end ">
                    <a class="btn btn-danger text-info fs-3" href="">
                      Cancel Request
                    </a>
                  </div>
                </div>

                {% elif path and ask %}
                <p class="fs-3 text-light">
                  while waiting, try learning more to broaden your knowledge on this topic
                </p>
                <div class="col-md-4">
                  
                  <video controls  class="col-md-12">
                    <source src="" type="video/mp4">
                  </video>
                  <div class="text-end ">
                    <a class="btn btn-success text-info fs-3" href="{{ url_for('users.request_task_solution', topic_id=topic_id) }}">
                      
                      Request Solution
                    </a>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
  
{% endblock %}
</body>
</html>
