<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% extends "base.html" %}
    <title>{% block title %} learn {% endblock %}</title>
</head>
<body>
  {% block main %}
  <nav><a class="btn btn-primary" href="{{url_for('users.userprofile')}}">{{_('Home')}}</a></nav>
        <div class="container-fluid">
            <div class="row" style="background-color: black; justify-content: center;">
                {% if fk %}
                <p class="text-info text-center fs-2 btn btn-light">
                    {{_('PROGRESS')}}: <span class="text-success" style="font-weight: bolder; height: 120px; width: 120px;
                     border-radius: 60px; background-color: black; padding: 3px;">
                    {{ (((page | int +1) / (lp|int + 1))*100) | int }}</span>
                </p>
                        
                <div class="col" style="display: flex; flex-direction: column;">
                  <div>
                    <p class=""><h1 class="btn btn-secondary fs-2 ">{{fk}}</h1></p>

                    <p class="m-3">
                      <a style="text-decoration: none; font-size: xx-large;" class="fs-2 btn btn-info"
                      href="{{ url_for('users.topic_by_course', course_id=fv[page][1], topic_id=fv[page][2]) }}">
                        {{ fv[page][0] }}
                      </a>
                    </p>
                   
                  </div>
                    

                    <div style="display: flex; flex-direction: row; justify-content: space-between;">
                      {% if page | int > fp   %}
                   <p> <a href="{{ url_for('users.paginate', page= (page | int - 1), fp=fp, lp=lp) }}">
                    {{_('PREVIOUS')}}
                  </a></p>
                   {% endif %}

                   {% if lp > page | int %}
                   <p><a href="{{ url_for('users.paginate', page=(page | int + 1), fp=fp, lp=lp) }}">
                    {{_('NEXT')}}
                  </a></p>
                   {% endif %}
                    </div>
                    
                                
                </div>


                {% elif mat %}
                <div class="col fs-3" style="background-color: rgb(214, 255, 159);">
                    <a class="btn btn-primary" href="{{ url_for('users.learn_skills', course_id=course_id) }}">{{_('Back')}}</a>
                    <div class="row text-center">
                      
                       <nav id="sk">
                        <div class="col text-success text-center sk" style="margin-bottom: 1rem;">
                          <a href="{{ url_for('users.gptplus_vid', course_id=course_id, topic_id=topic_id) }}">
                            <p id="p">{{ _('SKILdemy guide') }}</p>
                              <img src="{{ url_for('static', filename='thumbnail/thumbnail.png') }}" alt="thumbnail"> 
                          </a>
                      </div>
                        <div class="col text-center sk" style="margin: 1rem;">
                          <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <p id="p">{{_('Suggested Videos')}}</p>
                            <img src="{{ url_for('static', filename='thumbnail/youtube.png') }}" alt="thumbnail">
                          </div>
                          <ul class="dropdown-menu" style="background-color: rgb(58, 37, 37);">
                          
                            {% for idx in path %}
			                      <p class="fs-3 text-info text-center" style="background-color: rgb(43, 43, 61);">SKILdemy</p>
                            <li>
                              
                                <iframe width="560" height="315" 
                                src="https://www.youtube.com/embed/{{ idx }}"
                                title="YouTube video player" 
                                frameborder="0" 
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                                </iframe>
                              
                            </li>
                            {% endfor %}

                          </ul>
                        </div>
                        
                        
                       </nav>  
                    <div class="txtdsp">
                {% for line in mat.split('\n') %}

                {% if line.startswith('http') %}
                  <a href="{{line}}">
                    {{line}}
                  </a>
                {% else %}
                  {{ line }}

                {% endif %}
               <br>
               {% endfor %}
                </div>
                    </div>
                </div>
                {% elif path and not_time %}
                <div style=" background-color: red;" class="text-center vidp">
                  <video controls >
                    <source src="{{ path }}" type="video/mp4">
                  </video>
                </div>

                {% elif path and pending %}
                <div style="max-width: fit-content;" class="text-center">
                  <video controls style="min-width: fit-content;">
                    <source src="" type="video/mp4">
                  </video>
                  <div class="text-end ">
                    <a class="btn btn-danger text-info fs-3" href="">
                      {{_('Cancel Request')}}
                    </a>
                  </div>
                </div>

                {% elif path and ask %}
                <p class="fs-3 text-light">
                  {{_('keep learning while we prepare the answers for you')}}
                </p>
                <div class="col-md-4">
                  
                  <img src="{{ url_for('static', filename='thumbnail/ai.png') }}" alt="thumbnail" height="280" width="autp">
                  <div class="text-end ">
                    <a class="btn btn-success text-info fs-3" 
                    href="{{ url_for('users.request_task_solution', topic_id=topic_id) }}">
                      {{_('Request Solution')}}
                    </a>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
  
{% endblock %}
</body>
</html>
