<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    <title>
      {% block title %} Dashboard {% endblock %}
    </title>
    
</head>
    
<body>
  {% block main %}
  <div class="container-fluid">

    <nav class="text-info fs-3" id="profile">
      <div class="child">
        <a class="" href="{{ url_for( 'home.home') }}">
          {{_('Home')}}
        </a>
      </div>
      
      <div class="child">
        <a class="" href="{{ url_for( 'users.user_logout') }}">
          {{_('logout')}}
        </a>
      </div>
      
    </nav>
    <div class="row">
        <div class="col bg-secondary" >
            <p class="text-light fs-2">
              {{_('My courses')}}
            </p>
            {% for c in user_courses %}
            <div class="profile-info m-3 "> 
              <div class="btn btn-info">
                <a href="{{ url_for('users.learn_skills', course_id=c[0].id) }}">
                   {{ c[0].name }} 
                </a>
                <span class=" text-danger m-3">
                  {% if c[1] != ' ' %} {{ c[1]}}: <span>{{_('days left')}}</span>  {% endif %}
                </span>
              </div>
              <div style="background-color: bisque;">
                <a href="{{ url_for('users.cert_of_completion', course_id=c[0].id) }}">
                   {{_('Get certificate')}} <span style="font-size: 26px;">🎓</span>
                </a>
              </div>
              
            </div>
            {% endfor %}
        </div>
    </div>
  </div>
    {% endblock %}
</body>

</html>