<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    <title>{% block title %} upload video {% endblock %}</title>

</head>
<body>
    {% block body %}
    <div class="container bg-dark text-start m-4">
      <div class="row" id="vid-rules">
        <p class="text-info bg-light fs-2">The video must pass the following conditions to be approved</p>
        <ol>
          <li>
            <h3 class="text-success">Does</h3>
            <ul>
              <li>Must address only the topic</li>
              <li>It must be mp4 type video</li>
              <li>Must be upto date</li>

            </ul>
          </li>
          <li>
            <h3 class="text-danger">Don'ts</h3>
            <ul>
              <li>Size must not exceed 100Mb</li>
              <li>Video must not be longer than 15 Minutes</li>
            </ul>
          </li>
        </ol>
        <h2>Happy Learning</h2>
      </div>
        <div class="row">
          <div class="col-10 bg-dark align-items-start p-5">
    <form method=post enctype=multipart/form-data class="m-4">
        <input  type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input class="mt-5 mb-2  fs-3 fw-bold text-light" type=file name=file>
        <input class="mt-2 mb-5 fs-3 fw-bold text-success" type=submit value="Upload file">
      </form>

    </div>
      
</div>
</div>
      {% endblock %}
</body>
</html> -->