<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    <title>{% block title %} add youtube iframe {% endblock %}</title>
</head>
<body>
    {% block main %}

    <div class="container">
    <div class="row">
    <form method="post">
        <input  type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="col">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Select topic
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                    {% for t in subtopic %}
                    <li><a class="dropdown-item" href="#" onclick="setSubtopicId('{{ t.id }}')">{{ t.name }}</a></li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <input type="hidden" name="subtopic_id" id="subtopic_id" value="">
        <div class="col-8 fs-3 bg-primary">
            <label for="iframelink">iframe link</label><br>
            <textarea id="iframe_content" name="iframe_content" rows="4" cols="50"></textarea>
        </div>
  <input type="submit" value="Submit">
</form>
</div>
</div>
<script>
    function setSubtopicId(id) {
            document.getElementById('subtopic_id').value = id;
        }
</script>
    {% endblock %}
</body>
</html> -->