<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    <title>{% block title %}Course{% endblock %}</title>
</head>
<body>
    {% block main %}
    {% for val in fv %}
    <a style="text-decoration: none; font-size: xx-large;" class="fs-2 btn btn-info"
    href="{{ url_for('admin.course_free_asso', stop_id=val[2], c_id=val[1]) }}">
      {{ val[0] }}
    </a> 
    <br>
    {% endfor %}
    {% endblock %}
</body>
</html>