<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% extends "base.html" %}
    <title>{% block title %} learn {% endblock %}</title>
</head>
<body>
  {% block main %}
  


        <div class="container-fluid">
          <div class="row align-items-center btn btn-outline-primary fs-5 m-4">
            <a href="{{ url_for('admin.get_published_AI')}}" class=" " id="admin">
                Preview Live AI Content
            </a>
        </div>
          <p  class=" btn btn-outline-success" style="display: block; font-size: large;" >
            Generate AI video
          </p>
            
              <div class="btn-group">
                
                <ul class="">
                    <div class="col" id="aid" >
                        {% for k, v in dict_v.items() %}
                        <p class="btn btn-secondary m-4 " style="display: block;">{{k}}</p>
                        {% for _t in v %}
                <li>
                  <a class="" 
                  href="{{ url_for('admin.gptplus', language=language,  course_id=_t[1], topic_id=_t[2]) }}">
                    {{ _t[0] }}
                  </a>
                  <form action="{{ url_for('admin.upload', language=language,  course_id=_t[1], topic_id=_t[2]) }}" method="post" enctype=multipart/form-data>
                    <input  type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                      
                  <div class="col-4 fs-5 bg-info">
                    <label for="file">Select video</label><br>
                    <input type="file" id="file" name="file">
                  </div>
                  
                  <input type="submit" value="Upload video">
                </form>
                </li>
            {% endfor %}
                 
            {% endfor %}
                    </div>
                </ul>
               
              </div>

              
           
            
        </div>
      
{% endblock %}
</body>
</html>
