<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    <title>{% block title %} Add subject to course {% endblock %}</title>
</head>

<body>
    {% block main %}
    <div class="container">
        <div class="row">
            <form method="post" action="">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="col">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Course
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                            {% for c in courses %}
                            <li><a class="dropdown-item" href="#" onclick="setCourseId('{{ c.id }}')">{{ c.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Select Subject
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                            {% for s in subjects %}
                            <li><a class="dropdown-item" href="#" onclick="setSubjectId('{{ s.id }}')">{{ s.name }}</a></li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                <input type="hidden" name="course_id" id="course_id" value="">
                <input type="hidden" name="subject_id" id="subject_id" value="">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <script>
        function setCourseId(id) {
            document.getElementById('course_id').value = id;
        }

        function setSubjectId(id) {
            document.getElementById('subject_id').value = id;
        }
    </script>
    {% endblock %}
</body>

</html> -->