<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "base.html" %}
    <title>{% block title %}Courses{% endblock %}</title>
</head>
<body>
    {% block main %}
    <p class="text-danger">first to visit</p>
    {% for c in courses %}
    <a class="text-info ml-2" href="{{url_for('admin.timely_topics', c_id=c.id)}}">
        {{c.name}}
    </a> 
    <br>
    {% endfor %}
    {% endblock %}
</body>
</html>